<% layout("./layouts/boilerplate.ejs") %>
<body>
  <div class="row col-8 offset-2 mt-3">
    <h2>Edit Listing</h2>
    <form
      method="POST"
      action="/listings/<%=listing.id%>?_method=put"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-2">
        <label for="title" class="form-label"> Title </label>
        <input
          name="title"
          id="title"
          class="form-control"
          value="<%=listing.title%>"
          type="text"
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-2">
        <label for="description" class="form-label"> Description </label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          cols="20"
          rows="3"
        >
<%= listing.description %></textarea
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-2">
        <label for="image" class="form-label"> Image URL</label>
        <input name="image" id="image" type="file" class="form-control" />
        <div class="invalid-feedback">Please enter a valid URL/link</div>
      </div>
      <div class="row">
        <div class="mb-2 col-md-4">
          <label for="price" class="form-label"> Price </label>
          <input
            name="price"
            id="price"
            class="form-control"
            value="<%=listing.price%>"
            type="number"
          />
          <div class="invalid-feedback">Please enter a valid Price</div>
        </div>
        <div class="mb-2 col-md-8">
          <label for="country" class="form-label"> Country </label>
          <input
            name="country"
            id="country"
            class="form-control"
            value="<%=listing.country%>"
            type="text"
          />
          <div class="invalid-feedback">Please enter a valid country</div>
        </div>
      </div>
      <div class="mb-2">
        <label for="location" class="form-label">location</label>
        <input
          name="location"
          id="location"
          class="form-control"
          type="text"
          value="<%=listing.location%>"
        />
        <div class="invalid-feedback">Please enter a valid location</div>
      </div>
      <div class="mb-2 col-2 offset-4 mt-2">
        <button class="btn edit-btn">Edit</button>
      </div>
    </form>
  </div>
</body>
